## Topic 6 - Python for Data Analysis : Data Preprocessing with Pandas

# Join

Using two of the dataframes below, answer the questions :

In [6]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
                   
df2=pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                   'B': ['B0', 'B1', 'B2']})

In [116]:
#import libraries here
#Import warning untuk mengabaikan pemberitahuan tidak penting
#Import pandas, dll

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [117]:
#Merunning dataframe 1 dari soal pertanyaan

df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
df1

  key   A
0  K0  A0
1  K1  A1
2  K2  A2
3  K3  A3
4  K4  A4
5  K5  A5

In [118]:
#Merunning dataframe 2 dari soal pertanyaan

df2=pd.DataFrame({'key': ['K0', 'K1', 'K2'],'B': ['B0', 'B1', 'B2']})
df2

  key   B
0  K0  B0
1  K1  B1
2  K2  B2

### Create a dataframe (df3) which consists both dataframe inner-joined by column "Key" (5 pts)

In [119]:
#code goes here
#Dataframe 3 dari inner join d1 dan d2
#Dilakukan merge dari relasi (hubungan) antara key

df3 = pd.merge(df1,df2,how="inner")
df3

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

### Create a dataframe (df4) which consists of the result of df1 and df2 left-joined by column "Key" (10pts)

In [120]:
#code goes here
#Dataframe 4 didapatkan dari left join d1 dan d2
#semua data pada tabel sebelah kiri akan ditampilkan

df4 = pd.merge(df1,df2,how="left")
df4

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K2  A2   B2
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN

#### 1. Replace key "K2" into "K3" on df1
#### 2. Left join it with df2 
(15pts)

In [121]:
#code goes here
#Mereplace kata kunci "K2" menjadi "K3"
#Key "K2" akan hilang dan berubah

df1['key'] = df1['key'].replace(['K2'], 'K3')
df1

  key   A
0  K0  A0
1  K1  A1
2  K3  A2
3  K3  A3
4  K4  A4
5  K5  A5

In [122]:
#Df diperoleh dari left join d1 (key "K2" yang sudah direplace) dan d2
#semua data pada tabel sebelah kiri akan ditampilkan

df = pd.merge(df1,df2,how="left")
df

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K3  A2  NaN
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN

# Dataframe Processing

Create a dictionary and convert it to a dataframe called "Customer_df" (15 pts)


name=['Anna','Jason','Cindy']

age=['22','23','21']

gender=['F','M','F']

In [123]:
#code goes here
#Membuat dataframe dari dictionary
#Dibuat menggunakan Join with key

dict={
    "name":['Anna','Jason','Cindy'],
    "age":[22,23,21],
    "gender" :['F','M','F'] 
}

customer_df=pd.DataFrame(dict)
customer_df

    name  age gender
0   Anna   22      F
1  Jason   23      M
2  Cindy   21      F

### Delete the "age" column (5 pts)

In [124]:
#code goes here
#Menghapus kolom age dengan mendrop

customer_df = customer_df.drop('age',axis=1)
customer_df.head()

    name gender
0   Anna      F
1  Jason      M
2  Cindy      F

### Rename the "name" column into "first name" (10 pts)

In [125]:
#code goes here
#Mengganti nama kolom menjadi "First name"
#Menggunakan cara 1 (inplace = True)

customer_df.rename(columns ={
    'name':'first name'
}, inplace = True)
customer_df.head()

  first name gender
0       Anna      F
1      Jason      M
2      Cindy      F

### Sort the dataframe by age, descending (10 pts)

In [126]:
#code goes here
#Karena kolom age sudah dihapus diatas maka perlu di running ulang

dict={
    "first name":['Anna','Jason','Cindy'],
    "age":[22,23,21],
    "gender" :['F','M','F'] 
}

customer_df=pd.DataFrame(dict)
customer_df

  first name  age gender
0       Anna   22      F
1      Jason   23      M
2      Cindy   21      F

In [127]:
#Mengurutkan data dari usia terbesar ke terkecil (menurun)

customer_df_temp = customer_df.sort_values(['age'], ascending=False)
customer_df_temp.head()

  first name  age gender
1      Jason   23      M
0       Anna   22      F
2      Cindy   21      F

## Run the code below for data source and answer the following questions

In [128]:
import pandas as pd
df=pd.read_csv('http://bit.ly/kaggletrain')

### Show top 10 rows of the dataset (5 pts)

In [129]:
#code goes here
#Menampilkan 10 baris dari dataset
#Menggunakan code (head)

df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

## Using data aggregation in pandas , Answer the question below:

Show the total amount of passengers who survived and not survived (10pts)

In [130]:
#code goes here
#Jumlah penumpang yang selamat dan tidak

df.groupby('Survived').agg({'Survived':['sum']})

#Survived = 1
#Not Survived = 0
#Jumlah total penumpang selamat

         Survived
              sum
Survived
0               0
1             342

In [131]:
df.shape

(891, 12)

In [132]:
#Jumlah penumpang tidak selamat
#Karena angka nol (0) jika dijumlah tetap menghasilkan nol
#Maka dapat diketahui dengan menghitung selisih dari penumpang yang selamat

Not_survived = 891 - 342
Not_survived

549

Show all male survivors from titanic incident (10 pts)

In [133]:
#code goes here
#Melihat jumlah laki-laki (male) yang selamat di insiden titanic

df.groupby('Sex').agg({'Survived':['sum']})

       Survived
            sum
Sex
female      233
male        109

Show the average fare paid based on gender (10 pts)

In [134]:
#code goes here
#Menghitung rata-rata harga tiket berdasar gender

df.groupby('Sex').agg({'Fare':['mean']})

             Fare
             mean
Sex
female  44.479818
male    25.523893

Show the total amount of passengers who survived and not survived based on gender (10pts)

In [135]:
#code goes here
#Menghitung jumlah penumpang pria wanita yang selamat dan tidak

df.groupby(['Sex','Survived']).agg({'Survived':['sum']})

                Survived
                     sum
Sex    Survived
female 0               0
       1             233
male   0               0
       1             109